footer {
  .menuWrap {
    > a {
      width: calc((100% / 3) - 1em);
      margin-bottom: 1.5em;
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 1em;
      }
    }
    > div {
      width: calc((100% / 3) - 1em);
      margin-bottom: 1.5em;
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 1em;
      }
    }
    a {
      transform: translateX(0);
      transition-property: transform;
      transition: transform var(--easeOutSine) 0.2s;
      &.on {
        transform: translateX(0.2em);
        transition-property: transform;
        transition: transform var(--easeOutSine) 0.2s;
      }
    }
    span {
      line-height: 1;
      line-height: 1.8;
    }
    ul {
      margin-left: 0.1em;
      border-left: 1px solid #fff;
      li {
        margin-left: 0.5em;
        line-height: 1.3;
        a {
          line-height: 1.3;
          display: inline-block;
        }
      }
    }
  }
}
